* {
    margin: 0;
    padding: 0;   
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}


:root {
    --twitter-color: #50b7f5;
    --text-color: rgb(100, 105, 110);
}


body {
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}


.sidebar, section {
    border-right: 2px solid #353434;
}


/* --------------- Navigation Setup ---------------- */
.sidebar {
    position: fixed;
    height: 100vh;
    left: 0;
    width: 30%;
}


.sidebar a {
    position: relative;
    left: 38%;
    color: var(--twitter-color);
    display: table;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.sidebar a:hover {
    border-radius: 30px;
    background-color: #353434;
}


.sidebar span {
    position: relative;
    margin-left: 1.5rem;
    font-size: 1.2rem;
    color: #fff;
}


@media (max-width: 1000px) {
    .sidebar span, .accnt span{
        display: none;
    }
    .sidebar a {
        width: 0;
    }
    .sidebar a:hover {
        border-radius: 50%;
    }
}


@media (max-width: 500px) {
    .sidebar {
        width: 20%;
    }
    .sidebar a {
        left: 28%;
    }

}


.accnt {
    margin-top: 3rem;
    margin-left: -0.5rem;
}


.accnt img,.accnt-img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}


.accnt span {
    display: flex;
    flex-direction: column;
    margin-top: -2.4rem;
    margin-left: 4rem;
}


@media (max-width: 1300px) {
    .accnt span{
        display: none;
    }
}


/* ----------------- Feed section ---------------- */
.feed {
    position: relative;
    left: 30%;
    width: 50%;
    margin-bottom: -40rem;
}


@media (max-width: 500px) {
    .feed {
        width: 80%;
        left: 20%;
    }
}


.feed-algo {
    position: fixed;
    top: 0;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--text-color);
    width: inherit;
    display: flex;
    flex-direction: column;
    opacity: 90%;

}


.feed-algo h3 {
    margin-top: 1rem;
    margin-left: 1.5rem;
}


.algo {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    margin-top: 2rem;
}


.algo a {
    color: var(--text-color);
    font-weight: bolder;
}


.algo a::after {
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    margin-top: 10px;
    background: var(--twitter-color);
    border-radius: 3px;
}


.explore {
    position: absolute;
    width: 20%;
    left: 80%;
    border: none;
}


@media (max-width: 500px) {
    .explore {
        display: none;
    }
}