* {
    margin: 0;
    padding: 0;   
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    scrollbar-width: none;
}


:root {
    --twitter-color: #1DA1F2;
    --text-color: rgb(100, 105, 110);
}


body {
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
}


i, a, button {
    cursor: pointer;
}


/* --------------- Navigation Setup ---------------- */
.sidebar {
    position: fixed;
    height: 100vh;
    left: 0;
    width: 30%;
    border-right: 1px solid var(--text-color);
}


.sidebar a {
    position: relative;
    left: 38%;
    color: var(--twitter-color);
    display: table;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}


.sidebar a:hover , #logo:hover {
    border-radius: 30px;
    background-color: #353434;
}


.sidebar span {
    position: relative;
    margin-left: 1.5rem;
    font-size: 1.2rem;
    color: #fff;
}


@media (max-width: 1000px) {
    .sidebar span, .accnt span{
        display: none;
    }
    .sidebar a {
        width: 0;
    }
    .sidebar a:hover {
        border-radius: 50%;
    }
}


@media (max-width: 600px) {
    .sidebar {
        width: 0;
        border-right: none;
    }
    .sidebar a {
        left: 0;
    }

}


.accnt {
    margin-left: -0.5rem;
}


.accnt img,.accnt-img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}


.accnt span {
    display: flex;
    flex-direction: column;
    margin-top: -2.4rem;
    margin-left: 3.2rem;
}


.unique-username {
    color: var(--text-color);
    font-size: smaller;
    margin-left: -1px;
}


@media (max-width: 1300px) {
    .accnt span{
        display: none;
    }
}


@media (max-width: 600px) {
    .sidebar {
        display: block;
        width: 100%;
        transition: 2s;
        z-index: 4;
        height: 0;
    }
    .sidebar ul {
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border-top: 1px solid var(--text-color);
        width: 100%;
        background: #000;
        height: 60px;
        transition: 3s;
    }
    .sidebar ul li:nth-child(1),
    .sidebar ul li:nth-child(6),
    .sidebar ul li:nth-child(7),
    .sidebar ul li:nth-child(8),
    .sidebar ul li:nth-child(9),
    .sidebar ul li:nth-child(10),
    .sidebar ul li:nth-child(11),
    .sidebar ul li:nth-child(12) {
        display: none;
    }

}


/* ----------------- Feed section ---------------- */
.feed-section {
    position: absolute;
    left: 30%;
    width: 50%;
    border-right: 1px solid var(--text-color);
    height: 100vh;
}


@media (max-width: 830px) {
    .feed-section {
        width: 70%;
    }
}



@media (max-width: 600px) {
    .feed-section {
        width: 100%;
        left: 0;
        z-index: 3;
        border-right: none;
    }
}

.feed-algo {
    position: fixed;
    top: 0;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--text-color);
    width: inherit;
    display: flex;
    flex-direction: column;
    opacity: 80%;
    background: #000;
    z-index: 2;
    border-right: 1px solid var(--text-color);
}


.logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#logo {
    display: none;
}


@media (max-width: 600px) {
    .feed-algo {
        border-right: none;
    }
    #logo {
        display: block;
        position: relative;
        top: 5px;
        left: 38%;
        padding: 5px;
        color: var(--twitter-color);
    }
}

.feed-algo h3 {
    margin-top: 1rem;
    margin-left: 1.5rem;
}


.mb {
    display: none;
}


@media (max-width: 600px) {
    .mb {
        display: block;
        position: relative;
        top: 5px;
        left: 2rem;
    }
}



.algo {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    margin-top: 2rem;
}


.algo a {
    color: var(--text-color);
    font-weight: bolder;
}


.algo a::after {
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    margin-top: 1rem;
    background: var(--twitter-color);
    border-radius: 3px;
}


.feed {
    position: relative;
    top: 6.6rem;
    margin-bottom: 40rem;
}


#createPostWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    border-bottom: 1px solid var(--text-color);
}


.fa-arrow-left {
    display: none;
}


@media (max-width: 600px) {
    #createPostWrapper {
        position: fixed;
        background: #000;
        width: 100%;
        height: 100vh;
        top: 0rem;
        left: -100%;
        z-index: 6;
        align-items: start;
        transition: 0.8s;
    }
    .fa-arrow-left {
        display: block;
    }
    .fa-arrow-left:hover {
        color: var(--twitter-color);
    }
}


.create-post {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    width: 100%;
    padding: 1rem;
}


.create-post img, .my-pic {
    width: 60px;
    height: 50px;
    border-radius: 50%;
}


@media (max-width: 600px) {
    .feed-algo h3 {
        display: none;
    }
}


.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


.post a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--twitter-color);
    padding: 4px 8px;
    border: 1px solid var(--text-color);
    border-radius: 20px;
    width: 100px;
}


.post a p {
    font-size: 13px;
}


.fa-angle-down {
    margin-left: 4px;
}


textarea {
    margin-top: 1rem;
    width: 100%;
    font-size: 1rem;
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--text-color);
}


.post-attachments {
    display: flex;
    flex-direction: row;
    color: var(--twitter-color);
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post-attachments div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
}


.post-attachments button {
    width: 60px;
    padding: 3px;
    border-radius: 10px;
    background: var(--twitter-color);
}


.news {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
    border-bottom: 1px solid var(--text-color);
    padding: 2rem;
}


.news-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 94%;
    gap: 0.5rem;
}


.news-col h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.news-col p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.user-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#blue-tick {
    width: 20px;
    height: 20px;
}


.name-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}


.user-names p {
    color: var(--text-color);
}


.name-row div {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: var(--text-color);
}


.user-names i {
    padding: 5px;
    color: var(--text-color);
}


.user-names i:hover {
    border-radius: 50%;
    color: var(--twitter-color);
}


.news-photo {
    width: 98%;
    height: 98%;
    border-radius: 15px;
    border: 1px solid var(--text-color);
}


.post-reactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.6rem;
}


.post-reactions div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}


.post-reactions i {
    color: var(--text-color);
}


.post-reactions div p {
    font-size: 0.8rem;
    color: var(--text-color);
} 


#postTweet {
    display: none;
    width: 45px;
    height: 45px;
    padding: 7px;
    border-radius: 50%;
    position: fixed;
    bottom: 5rem;
    left: 80%;
    background: var(--text-color);
    cursor: pointer;
}


@media (max-width: 600px) {
    #postTweet {
        display: block;
    }
}






























.explore {
    position: absolute;
    width: 20%;
    left: 80%;
}


@media (max-width: 748px) {
    .explore {
        display: none;
        position: static;
    }
}



















@media (max-width: 481px) {
    * {
        font-size: small;
    }
}