* {
    margin: 0;
    padding: 0;   
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}


:root {
    --twitter-color: #50b7f5;
    --text-color: rgb(100, 105, 110);
}


body {
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}


nav, section {
    border-right: 2px solid #353434;
}


/* --------------- Navigation Setup ---------------- */
.sidebar {
    position: fixed;
    height: 90vh;
    left: 0;
    width: 30%;
}


.sidebar a {
    position: relative;
    left: 38%;
    color: var(--twitter-color);
    display: table;
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.sidebar a:hover {
    border-radius: 10px;
    background-color: #353434;
}


.fa-twitter {
    margin-left: -3px;
}


.sidebar span {
    position: relative;
    margin-left: 1.8rem;
    font-size: 1.2rem;
    color: #fff;
}


.accnt {
    margin-top: 3rem;
    margin-left: -0.5rem;
}


.accnt img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: -3px;
}


.accnt span {
    display: flex;
    flex-direction: column;
    margin-top: -2.4rem;
    margin-left: 4rem;
}


/* ----------------- Active Navigation setup ---------------- */
.active-nav {
    position: relative;
    left: 30%;
    width: 40rem;
}


.algo-pref-nav {
    position: fixed;
    width: 100%;
}


.algo-pref-nav h3 {
    margin-left: 3rem;
    margin-top: 1rem;
}


.active-nav li {
    list-style-type: none;
    margin-left: 4rem;
}


.active-nav ul {
    display: flex;
}



.explore {
    position: absolute;
    width: 30%;
    left: 70%;
    border: none;
}



/* Media Queries*/
@media (max-width: 1300px) {
    .sidebar span, .accnt span{
        display: none;
    }
    .sidebar a {
        width: 0;
    }
    .sidebar a:hover {
        border-radius: 50%;
    }
}

@media (max-width: 481px) {
    .active-nav {
        width: 80%;
        left: 20%;
    }
    .sidebar {
        width: 20%;
    }
    .sidebar a {
        left: 28%;
    }
    .explore {
        display: none;
    }
}

/*
nav:hover {
    width: 280px;
    transition: all 0.5s ease;
}
*/